<!DOCTYPE html>
<html lang="en">
<head>
	<script src="../externaljs/angular.min.js"></script>
	<script src="../externaljs/jquery-3.1.1.min.js"></script>
	<script src="../externaljs/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../css/bootstrap.min.css"/>
	<script src="../js/app.js"></script>
	<script src="../js/service.js"></script>
	<script src="../js/controller.js"></script>
</head>
	<body ng-app="myApp">
		<div ng-controller="GridLayoutCtrl">
			<div class="container-fluid">
				</br></br>
        		<div class="row"> <div class="col-md-4" ><b>To create a random maze, click here : </b><button type="button" class="btn btn-primary" class="col-md-4" ng-click="getDefaultGrid()">Random</button></div></div>
        		</br>
        		<form class="form-group" name='form' ng-submit="getCustomizedGrid()">
        			<div class="row"><div class="col-md-4" ><b>To customize a maze, enter maze parameters here : </b></div></div>
        			<div class="row">
				   	<div class="col-md-2">Enter Length of grid : <input type="number" name="length" ng-model="length" required ng-trim="false"></div>
				   	<div class="col-md-2">Enter Breadth of grid : <input type="number" name="breadth" ng-model="breadth" required ng-trim="false"></div>
		            <div class="col-md-2">Enter x coordinate of start point: <input type="number" name="xStart" ng-model="xStart" required ng-trim="false"></div>
		            <div class="col-md-2">Enter y coordinate of start point: <input type="number" name="yStart" ng-model="yStart" required ng-trim="false"></div>
		            <div class="col-md-2">Enter x coordinate of goal point: <input type="number" name="xGoal" ng-model="xGoal" required ng-trim="false"></div>
		            <div class="col-md-2">Enter y coordinate of goal point: <input type="number" name="yGoal" ng-model="yGoal" required ng-trim="false"></div>
		            </div>
		            </br>
				   	<div class="row"><div class="col-md-4"><button class="btn btn-primary" class="col-md-4"  ng-disabled="!form.$dirty" type="submit">Generate</button></div></div>
				   	
				</form>
	       </div>
	       </br></br>
	       
	       
	       <div class="container-fluid">
					<table class="table">
						<tbody>
					      <tr ng-repeat="row in grid.maze">
					         <td ng-repeat="cell in row" ng-init="checked=true">
					         	<div class="content" ng-switch on="cell.cellStatus">
								    <div ng-switch-when="Start"> <img src="../images/start.png" alt="HTML5 Icon" width="128" height="128"> </div>
								    <div ng-switch-when="Goal">  <img src="../images/goal.png" alt="HTML5 Icon" width="128" height="128"> </div>
								    <div ng-switch-when="Block"> <img src="../images/block.png" alt="HTML5 Icon" width="128" height="128"> </div>
								    <div ng-switch-when="Visited"> <img src="../images/dot.png" alt="HTML5 Icon" width="128" height="128"> </div>
								    <div ng-switch-when="FinalPath">
								    	<div class="content" ng-switch on="cell.direction">
										    <div ng-switch-when="Right"> <img src="../images/right.png" alt="HTML5 Icon" width="128" height="128"> </div>
										    <div ng-switch-when="Left">  <img src="../images/left.png" alt="HTML5 Icon" width="128" height="128"> </div>
										    <div ng-switch-when="Up"> <img src="../images/up.png" alt="HTML5 Icon" width="128" height="128"> </div>
										    <div ng-switch-when="Down"> <img src="../images/down.png" alt="HTML5 Icon" width="128" height="128"> </div>
										</div> 
									</div>
									<div ng-switch-when="Blank"> <img src="../images/blank.png" alt="HTML5 Icon" width="128" height="128"> </div>
					          	</td>
					      	</tr>
				      	</tbody>
			    	</table>
			</div>
	       
		</div>
	</body>
</html>