<!DOCTYPE html>
<html lang="en">
<head>
	<script src="../externaljs/angular.min.js"></script>
	<script src="../externaljs/jquery-3.1.1.min.js"></script>
	<script src="../externaljs/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../css/bootstrap.min.css"/>
	<script src="../js/app.js"></script>
	<script src="../js/service.js"></script>
	<script src="../js/controller.js"></script>
</head>
	<body ng-app="myApp">
		<div ng-controller="GridLayoutCtrl">
			<div class="container-fluid">
				</br></br>
        		<div class="row"> <div class="col-md-4" ><b>Random maze creator </b><button type="button" class="btn btn-primary" class="col-md-4" ng-click="getRandomGrid()">Random</button></div></div>
        		</br>
        		<form class="form-group" name='form'>
        			<div class="row"><div class="col-md-4" ><b>Enter parameters --> solve for random blocks</b></div></div>
        			<div class="row">
				   	<div class="col-md-2">Enter Length of grid : <input type="number" name="length" ng-model="length" required ng-trim="false"></div>
				   	<div class="col-md-2">Enter Breadth of grid : <input type="number" name="breadth" ng-model="breadth" required ng-trim="false"></div>
		            <div class="col-md-2">Enter x coordinate of start point: <input type="number" name="xStart" ng-model="xStart" required ng-trim="false"></div>
		            <div class="col-md-2">Enter y coordinate of start point: <input type="number" name="yStart" ng-model="yStart" required ng-trim="false"></div>
		            <div class="col-md-2">Enter x coordinate of goal point: <input type="number" name="xGoal" ng-model="xGoal" required ng-trim="false"></div>
		            <div class="col-md-2">Enter y coordinate of goal point: <input type="number" name="yGoal" ng-model="yGoal" required ng-trim="false"></div>
		            </div>
		            </br>
		            <div class="row">
		            	<div class="col-md-2"><button class="btn btn-primary" class="col-md-4"  ng-disabled="!form.$dirty" ng-click="getCustomizedGrid()">Solve for Random Obstacles</button></div>
				   		<div class="col-md-2"><button class="btn btn-primary" class="col-md-4"  ng-disabled="!form.$dirty" ng-click="getBasicGrid()">Generate to select Obstacles</button></div>
				   		<div class="col-md-2"><button class="btn btn-primary" class="col-md-4"  ng-disabled="!form.$dirty" ng-click="solveCreatedMaze()">Solve</button></div>
				   	</div>
				   	</br>
				   	<div class="row">
		            	<div class="col-md-2"><button class="btn btn-primary" class="col-md-4"  ng-disabled="!form.$dirty" ng-click="getRFAStar()">Solve RandomMaze for RF AStar</button></div>
		            	<div class="col-md-2"><button class="btn btn-primary" class="col-md-4"  ng-disabled="!form.$dirty" ng-click="getBasicGrid()">Generate to select Obstacles</button></div>
				   		<div class="col-md-2"><button class="btn btn-primary" class="col-md-4"  ng-disabled="!form.$dirty" ng-click="solveCreatedRFAStar()">Solve</button></div>
		            </div>
		            <div class="row">
		            	<div class="col-md-2"><button class="btn btn-primary" class="col-md-4"  ng-disabled="!form.$dirty" ng-click="solveRFAStarWithLG()">Solve RandomMaze for RF AStar-LG</button></div>
		            	<div class="col-md-2"><button class="btn btn-primary" class="col-md-4"  ng-disabled="!form.$dirty" ng-click="getBasicGrid()">Generate to select Obstacles</button></div>
				   		<div class="col-md-2"><button class="btn btn-primary" class="col-md-4"  ng-disabled="!form.$dirty" ng-click="solveCustomizedRFAStarWithLG()">Solve</button></div>
		            </div>
		            <div class="row">
		            	<div class="col-md-2"><button class="btn btn-primary" class="col-md-4"  ng-disabled="!form.$dirty" ng-click="solveRFAStarWithSG()">Solve RandomMaze for RF AStar-SG</button></div>
		            	<div class="col-md-2"><button class="btn btn-primary" class="col-md-4"  ng-disabled="!form.$dirty" ng-click="getBasicGrid()">Generate to select Obstacles</button></div>
				   		<div class="col-md-2"><button class="btn btn-primary" class="col-md-4"  ng-disabled="!form.$dirty" ng-click="solveCustomizedRFAStarWithSG()">Solve</button></div>
		            </div>
		            <div class="row">
		            	<div class="col-md-2"><button class="btn btn-primary" class="col-md-4"  ng-disabled="!form.$dirty" ng-click="solveAdaptiveAStar()">Solve RandomMaze for Adaptive AStar</button></div>
		            	<div class="col-md-2"><button class="btn btn-primary" class="col-md-4"  ng-disabled="!form.$dirty" ng-click="getBasicGrid()">Generate to select Obstacles</button></div>
				   		<div class="col-md-2"><button class="btn btn-primary" class="col-md-4"  ng-disabled="!form.$dirty" ng-click="solveCreatedAdaptiveAStar()">Solve</button></div>
		            </div>
				   	<div class="row">
		            	<div class="col-md-2"><button class="btn btn-primary" class="col-md-4"  ng-disabled="!form.$dirty" ng-click="getFirstStep()">FirstStep</button></div>
		            	<div class="col-md-2"><button class="btn btn-primary" class="col-md-4"  ng-disabled="!form.$dirty" ng-click="getPrevious()">Previous</button></div>
				   		<div class="col-md-2"><button class="btn btn-primary" class="col-md-4"  ng-disabled="!form.$dirty" ng-click="getNext()">Next</button></div>
				   		<div class="col-md-2"><button class="btn btn-primary" class="col-md-4"  ng-disabled="!form.$dirty" ng-click="getLastStep()">Finish</button></div>
				   	</div>
				
	       </div>
	       </br></br>
	       
	       
	        <div class="container-fluid">
					<table>
						<tbody>
					      <tr ng-repeat="row in grid.maze">
					         <td ng-repeat="cell in row">
					         <div ng-switch on="cell.cellStatus">
					         
					         		 <div ng-switch-when="Start"> <img src="../images/Start.png" alt="HTML5 Icon" width="60" height="60"> </div>
								    <div ng-switch-when="Goal">  <img src="../images/Goal.png" alt="HTML5 Icon" width="60" height="60"> </div>
								    <div ng-switch-when="Block" ng-click = "change(cell)"> <img src="../images/Block.png" alt="HTML5 Icon" width="60" height="60"> </div>
								    <div ng-switch-when="Visited"> <img src="../images/Visited.png" alt="HTML5 Icon" width="60" height="60"> </div>
								    <div ng-switch-when="FinalPath" ng-attr-id="{{xCoordinate}} , {{yCoordinate}}">
								    	<div ng-if="completeGrid.maze[cell.xCoordinate][cell.yCoordinate].cellStatus=='Block'">
								    		<div> <img src="../images/BlockVisit.png" alt="HTML5 Icon" width="60" height="60"> </div>
								    	</div>
								    	<div ng-if="completeGrid.maze[cell.xCoordinate][cell.yCoordinate].cellStatus!='Block'">
								    		<div class="content" ng-switch on="cell.direction">
											    <div ng-switch-when="Right"> <img src="../images/Right.png" alt="HTML5 Icon" width="60" height="60"> </div>
											    <div ng-switch-when="Left">  <img src="../images/Left.png" alt="HTML5 Icon" width="60" height="60"> </div>
											    <div ng-switch-when="Up"> <img src="../images/Up.png" alt="HTML5 Icon" width="60" height="60"> </div>
											    <div ng-switch-when="Down"> <img src="../images/Down.png" alt="HTML5 Icon" width="60" height="60"> </div>
									    	</div>
										</div>
									</div>
									<div ng-switch-when="Blank"  ng-click = "change(cell)"> <img src="../images/Blank.png" alt="HTML5 Icon" width="60" height="60"> </div>
								</div>
					          	</td>
					      	</tr>
				      	</tbody>
			    	</table>
			</div>
			<!-- <table>
				<tbody>
			      <tr ng-repeat="row in grid.maze">
			         <td ng-repeat="cell in row">
			         	<img ng-if="cell.cellStatus=='FinalPath' && completeGrid.maze[cell.xCoordinate][cell.yCoordinate].cellStatus=='Block'" ng-src="../images/BlockVisit.png"> 
			         	<img ng-if="cell.cellStatus=='FinalPath' && completeGrid.maze[cell.xCoordinate][cell.yCoordinate].cellStatus!='Block'" ng-src="../images/{{cell.direction}}.png"> 
			         	<img ng-if="cell.cellStatus!='FinalPath'" ng-src="../images/{{cell.cellStatus}}.png"> </div>
			         </td>
			      	</tr>
		      	</tbody>
	    	</table> -->
			
	       
		</div>
	</body>
</html>